
*{box-sizing:border-box}
body{margin:0;}
.cadre-diapo{
height: 500px;
position:relative
	}
	
	
.diapo1{
opacity:0;
position:absolute;
left:50%;
transform:translate3d(-50%,-50%,0);
top:50%;
transition:opacity 1s;
width:100%;
height: 500px;
}
	

 button{	
border: none;
cursor: pointer;
outline: none;
	}
	
.precedent,
.suivant{
	opacity: 0;
color: silver;
transition:color .4s linear, opacity .4s linear;
transform:translatey(-50%);
top:50%;
padding:.5rem;
font-size:2rem;
background:white;
position:absolute	
	}

.precedent{left:0}
.suivant{right:0}
	

.diapo1:hover ~ button
{
	opacity: 1;
}

.precedent:hover,
.suivant:hover{color:black; opacity: 1;}
	
.cadre-demo{display: flex;justify-content:center}

.demo1
{
	border-radius: 100%;
	margin: 3px;
	padding: 0 5px;
}
	.numeros{
transition:background .4s linear;
color:white;
background:#7A5FFF
	
	}


	
@media screen and (min-width: 600px) and (max-width: 1100px)
{
	.cadre-diapo
	{
		height: 350px;
	}
	.diapo1
	{
		height: 350px;
	}
}


@media screen and (max-width: 600px)
{
	.cadre-diapo
	{
		height: 200px;
	}
	.diapo1
	{
		height: 200px;
	}
}
