* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(#fafbff 50%, #4581f6 50%);
}

button
{
    cursor: pointer;
    outline: none;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    width: 80vmin;
    padding: 3em 1.8em;
    box-shadow: 0 1.25em 3em rgba(0, 0, 0, 0.18);
    border-radius: 0.5em;
}

textarea {
    resize: none;
    width: 100%;
    font-size: 1.1em;
    padding: 0.5em;
    border: 1px solid #000c27;
    border-radius: 0.2em;
}

#result {
    background-color: #dce7ff;
    text-align: center;
    font-size: 1.1em;
    padding: 1.35em 0.5em;
    margin: 0.8em 0 1.6em 0;
    color: #000c27;
}

#result span {
    font-weight: 500;
    font-style: italic;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.3em;
    width: 80%;
    margin: 0.6em auto;
}

.buttons button {
    background-color: #4581f6;
    font-size: 1em;
    border: none;
    width: 48%;
    padding: 0.8em 0;
    color: #ffffff;
    border-radius: 0.2em;
}

.search-container {
    width: 80%;
    margin: 1.8em auto 0 auto;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 0.6em;
}

.search-container input {
    font-size: 1em;
    padding: 0.7em 0.3em;
    border-radius: 0.3em;
    border: 1px solid #000c27;
}

.search-container button {
    font-size: 1em;
    background-color: #4581f6;
    color: #ffffff;
    border: none;
    border-radius: 0.3em;
}

@media screen and (max-width: 37.5em) {
    .buttons {
        width: 100%;
    }
    .search-container {
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .container
    {
        width: 100%;
    }
    #search-text
    {
        width: 100%;
    }

}
